.dropdown
	button.dropdown(type='button') Сколько гостей
		svg
			<line x1="10" y1="12" x2="22" y2="22" stroke-width="2" />
			<line x1="22" y1="22" x2="34" y2="12" stroke-width="2" />
	ul.child
		li Взрослые
			svg
				<circle r="15"/>
		li Дети
		li Младенцы