html(lang="ru")
head
	meta(charset="UTF-8")
	title Landing Page

body
	div.wrapper
		include UIKit/Text_Field/Text_Field.pug
		include UIKit/Dropdown/Dropdown.pug
		include UIKit/Button-click/Button-click.pug
		include UIKit/Button-gotopay/Button-gotopay.pug
		include UIKit/Radio-buttons/Radio-buttons.pug
		include UIKit/Checkbox/Checkbox.pug
		p.first This is a landing page
		p.second Я делаю с помощью вебпак
