body { margin: 0;
	padding: 0;
	max-width: 1400px;
	border: 1px solid red;
}

.wrapper {
	margin: 0 auto;
	width: 1000px;
	border: 1px solid black;
}

@import "../UIKit/Text_Field/Text_Field.scss";
.first {color: green;}
.second {color:red;}