body { margin: 0;
	padding: 0;
	width: 1640px;
	border: 1px solid red;
}

.wrapper {
	margin: 0 auto;
	width: 1000px;
	border: 1px solid black;
}

@import "../UIKit/Text_Field/Text_Field.scss";
@import "../UIKit/Dropdown/Dropdown.scss";
@import "../UIKit/Button-click/Button-click.scss";
@import "../UIKit/Button-gotopay/Button-gotopay.scss";
@import "../UIKit/Radio-buttons/Radio-buttons.scss";
@import "../UIKit/Checkbox/Checkbox.scss";

.first {color: green;}
.second {color:red;}